<script>
    // Imports
    import { arc, radialArea } from "d3-shape";
    import { scaleLinear, scaleRadial } from "d3-scale";
    import { extent } from "d3-array";

    export let data = [];
    export let city;

    // Size and margins
    const width = 600;
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;

    let radius = 50;
    let nums = [1,2,3];

    data = data.filter(d => d.city == city);

    // scale
    const xScale = scaleLinear().domain(extent(data, d => d.day_of_year)).range([0, 2 * Math.PI])
    const yHeat = scaleRadial().domain(extent(data, d => d.heating)).range([0, radius])
    const yCool = scaleRadial().domain(extent(data, d => d.cooling)).range([0, radius])
    
    const areaHeat = radialArea()
        .angle(d => xScale(d.day_of_year))
        .innerRadius(0)
        .outerRadius(d => yHeat(d.heating))

    const areaCool = radialArea()
        .angle(d => xScale(d.day_of_year))
        .innerRadius(0)
        .outerRadius(d => yCool(d.cooling))

</script>


<svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
        {#each nums as num, i}
            <g transform = "translate({innerWidth/8}, 20)">
                <text>{city}</text>
            </g>
            <g transform = "translate({innerWidth/6}, {innerHeight/2})">
                <path d={areaHeat(data)} fill="red" stroke="red" fill-opacity=0.5 stroke-opacity=0.8/>
                <path d={areaCool(data)} fill="blue" stroke="blue" fill-opacity=0.25 stroke-opacity=0.8/>
                <circle cx=0 cy=0 r={radius} stroke="black" fill="none"></circle>
                <circle cx=0 cy=0 r={radius+10} stroke="black" fill="none"></circle>
                
                <line x1={0} x2={0} 
                    y1={-radius-10} y2={-radius} stroke="black"></line>
                <line x1={0} x2={0} 
                    y1={radius+10} y2={radius} stroke="black"></line>
                <line x1={radius} x2={radius+10} 
                    y1={0} y2={0} stroke="black"></line>
                <line x1={-radius} x2={-radius-10} 
                    y1={0} y2={0} stroke="black"></line>
                
                <line x1={-radius} x2={radius} 
                    y1={0} y2={0} stroke="black" stroke-opacity=0.2></line>
                <line x1={0} x2={0} 
                    y1={-radius} y2={radius} stroke="black" stroke-opacity=0.2></line>

                <text x={-5} y={-radius-15}>0</text>
                <text x={radius+15} y={5}>3</text>
                <text x={-5} y={radius+25}>6</text>
                <text x={-radius-25} y={5}>9</text>

            </g>
        {/each}
    </g>
</svg>
