<script>

    export let selectedScale = 'all';
    export let selectedLocation = "Baltimore";

    let cities = ["Baltimore", "Chicago", "Los Angeles"];
    let selScale = ["all", "within"];
</script>

<div class="cityButtons">
    
    <input type="radio" bind:group={selectedLocation} id="Baltimore" name="selectedLocation" value={cities[0]}>
    <label for="Baltimore">Baltimore</label>
    <input type="radio" bind:group={selectedLocation} id="Chicago" name="selectedLocation" value={cities[1]}>
    <label for="Chicago">Chicago</label>
    <input type="radio" bind:group={selectedLocation} id="Los Angeles" name="selectedLocation" value={cities[2]}>
    <label for="Los Angeles">Los Angeles</label>
    <!-- <p>{selectedLocation}</p> -->

</div>
<div class="scaleButtons">
    <input type="radio" bind:group={selectedScale} id="acrossAll" name="Scale" value={selScale[0]}>
    <label for="acrossAll">Across all building types</label>
    <input type="radio" bind:group={selectedScale} id="within" name="Scale" value={selScale[1]}>
    <label for="within">Within Building Types</label>
    
</div>