<script>
    // Imports
    import { area } from "d3-shape";
    import { scaleLinear, scaleTime } from "d3-scale";
    import { extent, max } from "d3-array";
    import { timeParse } from "d3-time-format"; 

    export let data = [];

    let dates = data.map(d => new Date(2014, 11, d.day, d.hour));
    let gas = data.map(d => d.total_gas);
    let ele = data.map(d => d.total_electrity);
    
    //const upperRange = 10;
    //const lowerRange = 10;

    let leafWidth = 240*(data.length/168);
    const leafHeight = 100;

    const xScale = scaleTime()
        .domain(extent(dates))
        .range([0, leafWidth])
    
    const eleScale = scaleLinear()
        .domain([0, max(ele)])
        .range([leafHeight/2,0])
    const gasScale = scaleLinear()
        .domain([0, max(gas)])
        .range([leafHeight/2, leafHeight])

    const areaEle = area()
        .x(d => xScale(new Date(2014, 11, d.day, d.hour)))
        .y0(eleScale(0))
        .y1(d => eleScale(d.total_electrity))
    const areaGas = area()
        .x(d => xScale(new Date(2014, 11, d.day, d.hour)))
        .y0(gasScale(0))
        .y1(d => gasScale(d.total_gas))

</script>

<svg>
        <path d={areaEle(data)} fill="blue"/>
        <path d={areaGas(data)} fill="orange"/>
        <line x1=0 y1={leafHeight/2} x2={leafWidth} y2={leafHeight/2} stroke="black" stroke-width=2/>
</svg>
