<script>
    // Size and margins
    const width = 600;
    const height = 300;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
    //
    //
   
    import { format } from "d3-format";
    import { select } from "d3-selection";
    import { axisBottom, axisLeft } from "d3-axis";
    import { scaleLog, scaleLinear, scaleOrdinal } from "d3-scale";
    import { schemeTableau10 } from "d3-scale-chromatic";
    import { element } from "svelte/internal";
    import * as d3 from 'd3';

    export let data;
    export let maxAll;
    export let building_max;
    //export let selectedLocation; 
    export let selectedScale = "all";
    let days = [];
    let i = 0;
    while (i < 32) {
      days.push(i);
      i++;
    }
    
    //$: withinScale = 
    //.domain([0, Object.values(building_max).map(function (i) { return Object.values(building_max)[i]})])
      //scaleLinear()
      //.domain()
      //.range([innerHeight/16, 2*innerHeight/16]);
    $: allScaleP = 
      scaleLinear().domain([0, maxAll]).range([innerHeight/50, 0]);
    $: allScaleN = 
      scaleLinear().domain([0, maxAll]).range([innerHeight/50, 2*innerHeight/50]);
    const cScale = scaleOrdinal(schemeTableau10).domain(Object.keys(data));
    const xScale = scaleLinear().domain([0, 744]).range([0, innerWidth]);
    const yDivide = scaleLinear().domain([0, 16]).range([0, innerHeight]);
    const dayScale = scaleLinear().domain([0,31]).range([0,innerWidth-5]);
    const lineScale = scaleLinear().domain([0,31]).range([0,innerWidth]);
    //$: tempScale = scaleLinear().domain([0, maxAll]).range([innerHeight/16, 2*innerHeight/16]);

    function withinScaleP(value, i) {
              let within = scaleLinear()
              .domain([0, Object.values(building_max)[i]])
              .range([innerHeight/50, 0]);
              return within(value);
    }
    function withinScaleN(value, i) {
              let within = scaleLinear()
              .domain([0, Object.values(building_max)[i]])
              .range([innerHeight/50, 2*innerHeight/50]);
              return within(value);
    }

    $: pathGenP = (d, i) => {
      let pathP = "M 0," + innerHeight/50;
      d.forEach((value, j) => {
        pathP += " " + xScale(j) + "," +
              (selectedScale == "all" ? allScaleP(value) : withinScaleP(value, i));
        pathP += " " + xScale(j) + "," + innerHeight/50; 
      })
      return pathP;
    }
    $: pathGenN = (d, i) => {
      let pathN = "M 0," + innerHeight/50;
      d.forEach((value, j) => {
        pathN += " " + xScale(j) + "," + 
              (selectedScale == "all" ? allScaleN(value) : withinScaleN(value, i))
        pathN += " " + xScale(j) +  "," + innerHeight/50; 
      })
      return pathN;
    }

    //if (selectedScale == "within") {
    //  withinScale = scaleLinear().domain([0, Object.values(building_max)]).range([innerHeight/16, 2*innerHeight/16]);
    //} else if (selectedScale == "all") {
    //  allScale = scaleLinear().domain([0, maxAll]).range([innerHeight/16, 2*innerHeight/16]);
    //} 
    // <g transform = "translate(0,{i*(innerHeight/16)})">


  </script>
  
  <svg {width} {height}>
    
    <g transform="translate({margin.left}, {margin.top})">
      <!--  -->
      
      {#each data as building, i}
        <g transform = "translate(0,{yDivide(i)})">
          <text font-size=6 x=0 y={yDivide(i)/50 - 2.5}>{Object.keys(building_max)[i]}</text>
          <path d = {pathGenP(building, i)} 
            fill={cScale(i)} stroke = {cScale(i)} stroke-width = "0.65" />
          <path d = {pathGenN(building, i)} 
            fill={cScale(i)} stroke = {cScale(i)} stroke-width = "0.65" /> 
          <!-- {#each building as value, j}
            <circle cx={xScale(j)} 
                    cy={selectedScale == "all" ? allScaleP(value) : withinScaleP(value, i)} 
                    fill={cScale(i)}
                    r=2 /> 
          {/each} -->
        </g>
          
      {/each}
      
      {#each days as day}
        <line x1={lineScale(day)} y1={innerHeight+2.5} 
              x2={lineScale(day)} y2={0} 
              stroke="black"
              stroke-opacity = 0.1></line>
        
        <text font-size=5 x={dayScale(day)} y={innerHeight+5}>{day}</text>
      {/each}
      <line x1=0 y1={innerHeight} x2={innerWidth} y2={innerHeight} stroke="black"></line>
    </g>
  
  </svg>
  <!-- <p>{selectedScale}</p> -->
  


<style>
    svg {
      border: 1px solid black;
      border-radius: 5px;
    }
</style>