
<script>
  
  //max value is 3769.21182138
  //import { filter} from "d3-array";
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { each } from "svelte/internal";
  //import { InternMap, min, extent, max } from "d3-array";
  import * as d3 from 'd3';
  import Controls from "./_design_1_controls.svelte";
  import Lines from "./_design_1_lines.svelte";
  import Design_3 from "./design_3.svelte";


  //data.city;
  let selectedLocation = 'Baltimore';
  let selectedScale;
  

  // Load the data
  let datapoints = [] ;
  onMount(async () => {
    const data_await = await fetch('/data/hourly_heating_december.json');
    datapoints = await data_await.json();
    });

  
  let energy_usage = {};
  let tempArray = [];
  let building_values = [];
  let maxAll = 0;
  let maxWithin;
  let building_max = {};
  

  $:{
    energy_usage = {}
    maxAll = 0
    building_values = [];
    building_max = {};


    datapoints.forEach((d) => {
      //if (d.city == selectedLocation) {energy_usage.push(d.total_heating_energy)} //this works
      if (d.city == selectedLocation) {
        if ( !(d.buildingtype in energy_usage )) {
          energy_usage[d.buildingtype] = []
      }
        //if ( !(d.energy in energy_usage[d.buildingtype])) {
          //energy_usage[d.buildingtype][d.energy] = []
      //}
        energy_usage[d.buildingtype].push(d.total_heating_energy);
        maxAll = (d.total_heating_energy > maxAll) ? d.total_heating_energy : maxAll;
        building_values = Object.values(energy_usage)

        maxWithin = Object.keys(energy_usage).map(function(e) {
                  return d3.max(energy_usage[e])
                    })
        
        Object.keys(energy_usage).forEach((key, i) => building_max[key] = maxWithin[i]);

      }
    })
  }
  
  // energy_usage = {FullServiceRestaurant: [57, 59, ...], 
  //                 Hospital: [524, 528, ...]}
  //  $: console.log(energy_usage);
  //  $: console.log(maxAll);
  //  $: console.log( selectedLocation);
  //  $: console.log("building_values", building_values);
  //  $: console.log(building_values[0]);
  //  $: console.log(Object.values(building_max)[1] );
    
   // $: console.log(datapoints.filter(d => d.city == selectedLocation));
  

</script>

<div>
  <Controls bind:selectedLocation = {selectedLocation} bind:selectedScale = {selectedScale}/>

  <Lines bind:data = {building_values} bind:maxAll = {maxAll} bind:building_max = {building_max}
          bind:selectedLocation = {selectedLocation} bind:selectedScale = {selectedScale}/> 

</div>