<script>
    // Imports
    import { json } from "d3-fetch";
    import { onMount } from "svelte";
    import { text } from "svelte/internal";
    import { scaleLinear, scaleTime } from "d3-scale";
  
    import Leaves from "./_design_3_leaves.svelte";
  
    // Size and margins
    const width = 500;
    const height = 600;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
  
    // Load the data
    let data = null;
    onMount(async () => {
      data = await json("/data/hourly_electricity_vs_gas_december.json");
    });
  
    //$: console.log(data);

    $: console.log("What are you, a *machine*? Or are you *alive*?");

    let weeks = [48, 49, 50, 51, 52];

  </script>
  
  
  {#if !data}
    <p>Loading the data, please wait...</p>
  {:else}
    <svg {width} {height}>
      <g transform="translate({margin.left}, {margin.top})">

        {#each weeks as week, i}
        {#if i % 2 == 0}
            <g transform="translate({(innerWidth/2)}, {innerHeight- 200 - 75*i}) scale(1,1) rotate({-15})">
                <Leaves data={data.filter(d => d.week == week)}/>
            </g>
        {:else}
            <g transform="translate({(innerWidth/2) + 20}, {innerHeight- 200 - 75*i}) scale(-1,1) rotate({-15})">
                <Leaves data={data.filter(d => d.week == week)}/>
            </g>
        {/if}  

          <line x1={width/2} y1={margin.top} x2={width/2} y2={innerHeight - 100} stroke="black" stroke-width="3"></line>
        {/each}

        <text x={innerWidth/2 - 25} y={innerHeight-60}>Baltimore</text>
        <text x={innerWidth/2 - 25} y={innerHeight-40}>December 2014</text>

      
    </svg>
  {/if}
  