<script>
  // Imports
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Circle from "./_design_2_circle.svelte";

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Load the data
  let cities = ["Chicago", "Baltimore", "Los Angeles"];
  let data = null;
  onMount(async () => {
    data = await json("/data/daily_heating_cooling.json");
  });

  //$: console.log(data);
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  {#each cities as city}
    <Circle data = {data} city = {city}></Circle>
  {/each}
{/if}


