<script>
  let clicked = false;
  function toggle() {clicked = !clicked};
</script>

<div>
  {#if !clicked}
  <button class="btn btn-primary" on:click={() => (clicked = true)}> 
    You have to click the button!
  </button>


  {:else}
  <button class="btn btn-primary"> 
    
    You have clicked the button!
    
  </button>

  {/if}
</div>
