<script>
  let current = "";
</script>

<!-- We will cover buttons in week 7! -->
<button class = "btn btn-secondary" 
class:selected = {current === 'messi'} on:click={() => (current = "messi")}>
  Messi
</button>

<button class = "btn btn-secondary" 
class:selected="{current === 'ronaldo'}" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class = "btn btn-secondary"
class:selected="{current === 'neymar'}" on:click={() => (current = "neymar")}>
  Neymar
</button>

<style>
  .selected {
		background-color: #ff3e00;
		color: white;
	}
</style>






<!-- <button class="btn btn-secondary" on:click={() => (current = "messi")}>
  Messi
</button>

<button class:selected="btn btn-secondary" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class:selected="btn btn-secondary" on:click={() => (current = "neymar")}>
  Neymar
</button>
-->