<script>
    const my_name = "Dylan"
    const my_fav = ["Raindrops on roses", 
                    "Whiskers on kittens",
                    "Bright copper kettles", 
                    "Warm woolen mittens",
                    "Brown paper packages tied up with strings"
                    ]
    const s = ", ";

</script>

<div>
    
    <p>My name is {my_name} and these are some of my favourite things: {#each my_fav as fav}
        {fav + s} {/each} </p>
    
    
</div>