<script>
    function circumfrence(radius) {
        return 2 * 3.14159 * radius;
    }
    let value = "input radius";
</script>

<p>The circumference of a circle with radius <input bind:value={value}> is {circumfrence(value).toPrecision(4)}</p>