<script>
    import Ex2 from "./ex_2.svelte";
    import Ex_3 from "./ex_3.svelte";

</script>

<style>
    div { 
      display: block;
    }
</style>

<div> 
    <Ex_3></Ex_3>

</div>

<div>

<Ex2></Ex2>

</div>
