<script>
    let count = 0;

    function handleClick(event) {
        count += 1;
    }

    function reset(event) {
        count = 0;
    }
</script>

<button type="button" class="btn btn-success" on:click={handleClick}>
	You've clicked {count} times!
</button>

<button type="button" class="btn btn-danger" on:click={reset}>
	Reset
</button>