<script>
  import {scaleLinear} from 'd3-scale';
  import {scaleOrdinal} from 'd3-scale';
  import {schemeAccent} from 'd3-scale-chromatic';
  import {extent} from 'd3-array';
  import {min} from 'd3-array';
 


  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  const accent = scaleOrdinal(schemeAccent);
 
  const scalex = scaleLinear()
                .domain(extent(values, function (d) {
                  return d.x;
                }))
                .range([margin.left, innerWidth]); 
  const scaley = scaleLinear()
                .domain(extent(values, function (d) {
                  return d.y;
                }))
                .range([innerHeight, 0]);
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <!--  -->
    {#each values as datapoint}
    <circle cx={scalex(datapoint.x)}
            cy={scaley(datapoint.y)}
            r=10 
            fill={accent(datapoint.category)}/>     
    {/each}
    
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
