<script>
  import {scaleLinear} from 'd3-scale';
  import {scaleOrdinal} from 'd3-scale';
  import {schemeAccent} from 'd3-scale-chromatic';
  import {extent} from 'd3-array';
  import {axisLeft, axisBottom} from 'd3-axis';
  import {select} from 'd3-selection';

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  const accent = scaleOrdinal(schemeAccent);


  const scalex = scaleLinear()
                .domain([0, 6])
                .range([margin.left, innerWidth]); 
  const scaley = scaleLinear()
                .domain([0,3])
                .range([innerHeight,0]);
  
  const axisy = axisLeft(scaley).ticks();
  const axisx = axisBottom(scalex)
  .ticks(data.length)
  .tickFormat(function(d, i){return data[d]?.service;});

  let gaxisy, gaxisx;
	
	$: {
		select(gaxisy).call(axisy);
		select(gaxisx).call(axisx);
	};


</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    <!-- inner height is 260 -->
    <!-- inner width is 530 -->
    {#each data as provider, index}
    <rect x = {scalex(index)} y = {scaley(provider.viewers)} 
              height={height-scaley(provider.viewers)-margin.top-margin.bottom} 
              width={(innerWidth/6)-30} fill={accent(provider.service)}/>
    {/each}
  </g>

  <g bind:this={gaxisy} transform={`translate(100,${margin.top})`}></g>
  <g bind:this={gaxisx} transform={`translate(${(innerWidth/6)-10}, ${height-margin.bottom})`}></g>

</svg>
