<script>
    import Scatterplot from "./_ex_7_scatterplot.svelte";
    import { onMount } from 'svelte';
    import { json } from "d3-fetch";

    let ready;
    let dataTemp = null;
    onMount(async () => {
    const data_await = await fetch('/data/gapminder.json');
    dataTemp = await data_await.json();
    ready = true;
        });
</script>

{#if ready } 
<Scatterplot data={dataTemp[0].countries} />
{:else}
<p>Loading data</p>
{/if}
